{% extends "base.html" %}

{% block head %}
{{ super() }}
<meta name="description" content="{{ article.summary|striptags }}">
{% endblock %}

{% block title %}
{{ article.title|striptags }} {{ super() }}
{% endblock %}

{% block page_header %}
{{ article.title }}
{% endblock %}

{% block content %}
<article class="article" id="main-article">
  <header>
    <ul class="list-inline">
      <li class="list-inline-item text-muted" title="{{ article.date.isoformat() }}">
        <i class="fa fa-clock-o"></i>
        {{ article.locale_date }}
      </li>
      <li class="list-inline-item">
        <i class="fa fa-folder-open-o"></i>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      </li>
      {% if not HIDE_AUTHORS and article.authors %}
      <li class="list-inline-item">
        <i class="fa fa-user-o"></i>
        {% for author in article.authors %}
        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endif %}
      {% if article.tags %}
      <li class="list-inline-item">
        <i class="fa fa-files-o"></i>
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </li>
      {% endif %}
    </ul>
  </header>
  <div class="content">
    {{ article.content }}
  </div>
</article>
<!-- {% if 'scripts' in article.metadata %}
    {% for script in article.metadata.scripts.split(', ') %}
      <script>
        var json_file = "{{ SITEURL }}/files/{{ script }}.json";
        vegaEmbed('#{{ script }}', json_file);
      </script>
    {% endfor %}
  {% endif %} -->
{% if 'scripts' in article.metadata %}
  <script src="https://unpkg.com/d3@5.9.1/dist/d3.min.js"></script>
	<script src="https://unpkg.com/scrollama"></script>
	<script>
		// using d3 for convenience
		var main = d3.select("main");
		var scrolly = main.select("#scrolly");
		var figure = scrolly.select("figure");
		var article = scrolly.select("article");
		var step = article.selectAll(".step");
    
    var altairIds = {
      0: "gender1",
      1: "diversitygraph2",
      2: "gender2",
      3: "gender3",
      4: "gender4",
      5: "gender5",
      6: "gender6",
      7: "gender7",
      8: "gender8",
      9: "gender9",
    }
		// initialize the scrollama
		var scroller = scrollama();

		// generic window resize listener event
		function handleResize() {
			// 1. update height of step elements
			var stepH = Math.floor(window.innerHeight * 0.85);
			step.style("height", stepH + "px");

			var figureHeight = window.innerHeight / 2;
			var figureMarginTop = (window.innerHeight - figureHeight) / 2;

			figure
				.style("height", figureHeight + "px")
				.style("top", figureMarginTop + "px");

			// 3. tell scrollama to update new element dimensions
			scroller.resize();
		}

		// scrollama event handlers
		function handleStepEnter(response) {
      console.log(response);
			// response = { element, direction, index }

			// add color to current step only
			step.classed("is-active", function (d, i) {
				return i === response.index;
			});

			// update graphic based on step
			//figure.select("p").text(response.index + 1);
      // Delete existing div if it exists in the figure by selecting any divs within figure
      var figureElement = document.querySelector("#scrolly figure");
      var divs = figureElement.querySelectorAll("div");
      divs.forEach(function(div) {
        div.remove();
      });

      // Use the index to get the altair div id and create the div and append it to the figure
      var altairDivId = altairIds[response.index];
      var altairDiv = document.createElement("div");
      altairDiv.id = altairDivId;
      console.log(altairDivId);
      console.log(altairDiv);
      
      figureElement.appendChild(altairDiv);
      //Use the altair div id to get the altair script and embed it
      var json_file = "{{ SITEURL }}/files/" + altairDivId + ".json";
      vegaEmbed('#' + altairDivId, json_file);
		}

		function init() {

			// 1. force a resize on load to ensure proper dimensions are sent to scrollama
			handleResize();

			// 2. setup the scroller passing options
			// 		this will also initialize trigger observations
			// 3. bind scrollama event handlers (this can be chained like below)
			scroller
				.setup({
					step: "#scrolly article .step",
					offset: 0.75,
					debug: false
				})
				.onStepEnter(handleStepEnter);
		}

		// kick things off
		init();
	</script>
  {% endif %}
{% include 'include/comments.html' %}
{% endblock %}
